node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

SuperSwapV1/.gitignore
SuperSwapV2/.gitignore
SuperSwapV3/.gitignore

SuperSwapV1/node_modules
SuperSwapV1/.env
SuperSwapV1/coverage
SuperSwapV1/coverage.json
SuperSwapV1/typechain
SuperSwapV1/typechain-types
SuperSwapV1/cache
SuperSwapV1/artifacts

SuperSwapV2/node_modules
SuperSwapV2/.env
SuperSwapV2/coverage
SuperSwapV2/coverage.json
SuperSwapV2/typechain
SuperSwapV2/typechain-types
SuperSwapV2/cache
SuperSwapV2/artifacts

SuperSwapV3/node_modules
SuperSwapV3/.env
SuperSwapV3/coverage
SuperSwapV3/coverage.json
SuperSwapV3/typechain
SuperSwapV3/typechain-types
SuperSwapV3/cache
SuperSwapV3/artifacts